.app-container {
  min-height: 100vh;
  background: radial-gradient(circle, #006450bf 0%, black 100%);
  color: #111827;
  font-family: "Nunito", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f4f1eb;
}

button,
input,
textarea,
select {
  font: inherit;
}
